/* Cover */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

p {
  margin: 0;
}

.clip-contents {
  overflow: hidden;
}

.flex-col-hstart-vstart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.cover {
  position: relative;
  background-color: rgba(255, 117, 117, 1);
  width: 100%;
  height: 960px;
}

.dot-grid {
  position: absolute;
  top: 38px;
  left: 34px;
  width: 1851.48px;
  height: 883.17px;
}

.text-block {
  position: absolute;
  top: 204px;
  left: 218px;
  width: 678px;
  height: 276px;
}

.figjam-box {
  position: absolute;
  top: 100px;
  left: 225px;
  width: 327px;
  height: 81px;
}

.txt-494 {
  position: absolute;
  top: 103px;
  left: 247px;
  font-size: 55px;
  font-family: Inter, sans-serif;
  font-weight: 700;
  line-height: 163%;
  color: rgba(0, 0, 0, 1);
  width: 197px;
  height: 79px;
  word-wrap: break-word;
}

.txt-148 {
  position: absolute;
  top: 188px;
  left: 220px;
  font-size: 144px;
  font-family: Inter, sans-serif;
  font-weight: 700;
  line-height: 106%;
  letter-spacing: 1.44px;
  color: rgba(255, 255, 255, 1);
  width: 704px;
  height: 313px;
  word-wrap: break-word;
}

.vector {
  position: absolute;
  top: 10.42%;
  bottom: 10.83%;
  left: 48.13%;
  right: 11.72%;
  width: 771px;
  height: 756px;
}

.vector-1 {
  position: absolute;
  top: 23.75%;
  bottom: 24.34%;
  left: 54.95%;
  right: 18.46%;
  width: 510.48px;
  height: 498.3px;
}

.vector-2 {
  position: absolute;
  top: 54.48%;
  bottom: 29.82%;
  left: 57.86%;
  right: 21.46%;
  width: 397px;
  height: 150.74px;
}

.vector-3 {
  position: absolute;
  top: 28.44%;
  bottom: 48.44%;
  left: 62.5%;
  right: 26.04%;
  width: 220px;
  height: 222px;
}
